.card-img-top {
  width: 30%;
  height: 15vw;
  object-fit: contain;
  cursor: pointer;
}
.my-card {
  width: 20rem;
  background-color:  #e6cdac;
   height:55vh;
   border-radius: 4px;
}

@media only screen and (max-width: 1150px) {
  .my-card{
    width: 19rem;
  }
}

@media only screen and (max-width: 600px) {
  .card-img-top{
    width: 10%;
    height: 25vw;
    object-fit: fill;
  }
  .my-card{
    height: 40vh;
    width: 21rem;
    position: absolute;
    left: 0;
  }
}
