@font-face {
  font-family: "Pokemon";
  src: url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.eot");
  src: url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.svg#Pokemon")
      format("svg");
}
.title {
  font-family: "Pokemon";
  font-weight: lighter;
  color: #ffde29;
  font-size: 80px;
  margin-top: 2%;
  text-shadow: 5px 10px #005aff;
}
.App {
  background-color: #cd3939;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  -webkit-perspective: 1000;
}

.slide-fwd-center {
  -webkit-animation: slide-fwd-center 0.45s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-fwd-center 0.45s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-fwd-center {
  0% {
    -webkit-transform: translateZ(-70px);
    transform: translateZ(-70px);
  }
  100% {
    -webkit-transform: translateZ(50px);
    transform: translateZ(50px);
  }
}
@keyframes slide-fwd-center {
  0% {
    -webkit-transform: translateZ(-70px);
    transform: translateZ(-70px);
  }
  100% {
    -webkit-transform: translateZ(50px);
    transform: translateZ(50px);
  }
}

@media only screen and (max-width: 600px) {
  .title {
    font-size: 50px;
    margin-top: 9%;
  }
}
